APP_ENV=production

POSTGRES_USER=igstore
POSTGRES_PASSWORD=igstore
POSTGRES_DB=igstore
DATABASE_URL=postgres://igstore:igstore@db:5432/igstore

JWT_SECRET="2b5bd8827c7b446b0403c589113bd653307f9537206d456ada0b880c9e0c603a"
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

INSTAGRAM_APP_ID=956871463621532
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=https://igstore-api.theskilledguru.com/auth/instagram/callback

FRONTEND_URL=https://igstore.theskilledguru.com
ALLOWED_ORIGINS=["https://igstore.theskilledguru.com"]

SUBNET=192.168.10.0/24
IPV4_ADDRESS_1=192.168.10.10
IPV4_ADDRESS_2=192.168.10.11